body {
	background-image: linear-gradient(89.7deg, rgba(43, 104, 167, 1) 20.9%, rgba(156, 213, 194, 1) 77.6%);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

section {
	display: flex;
	width: 100%;
}

nav {
	width: 100%;
	height: 150px;
}

.navStyles = {
	background-color: white;
	height: 65px;
	margin-top: 0;
}

.inputfile {
	margin: 20px;
}

.insideuploader {
	text-align: center;
}

.profileStyles {
	background-image: linear-gradient(89.7deg, rgba(43, 104, 167, 1) 20.9%, rgba(156, 213, 194, 1) 77.6%);
	width: 30%;
	flex-wrap: wrap;
}

.profileStyles img {
	height: 90% !important;
	width: 90% !important;
	object-fit: cover !important;
	border-radius: 15px !important;
	margin-left: 15px !important;
	margin-top: 20px !important;
	max-height: 90% !important;
	max-width: 90% !important;
}

.profileStyles div {
	float: left !important;
	height: 100% !important;
	width: 100% !important;
	margin: 0px !important;
	background-color: #747474 !important;
	float: left !important;
	position: relative !important;
	border: 0px !important;
	border-radius: 0px !important;
}

.bioEdition {
	background-image: linear-gradient(89.7deg, rgba(43, 104, 167, 1) 20.9%, rgba(156, 213, 194, 1) 77.6%);
	width: 70%;
	flex-wrap: wrap;
	padding: 50px;
}

.nameInProfile {
	font-size: 2.5rem;
}

.helloInProfile {
	font-size: 3rem;
	color: #d62502;
}

@media screen and (min-width: 101px) and (max-width: 550px) {
	.profileStyles img {
		max-height: 80% !important;
		max-width: 80% !important;
	}
}

button.submitbtn {
	width: 30%;
	margin: 0 0.3em 0.3em 0;
	margin-top: 15px;
	margin-left: 40%;
	margin-right: 40%;
	display: inline-block;
	padding: 0.7em 1.7em;
	border-radius: 0.2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #ffffff;
	background-color: #00a71c;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
		inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
	text-align: center;
	position: relative;
}
button.loginbtn:active {
	box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.form-control {
	width: 50%;
	height: 40px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1%;
	margin-bottom: 1%;
	position: relative;
	border-radius: 6px;
	box-shadow: 2px 2px 2px 2px #e7e7e7;
}

button.editbtn {
	width: 30%;
	margin: 0 0.3em 0.3em 0;
	margin-top: 15px;
	margin-left: 40%;
	margin-right: 40%;
	display: inline-block;
	padding: 0.7em 1.7em;
	border-radius: 0.2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #ffffff;
	background-color: #fd7506;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
		inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
	text-align: center;
	position: relative;
}
button.editbtn:active {
	box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

button.deletebtn {
	width: 30%;
	margin: 0 0.3em 0.3em 0;
	margin-top: 15px;
	margin-left: 40%;
	margin-right: 40%;
	display: inline-block;
	padding: 0.7em 1.7em;
	border-radius: 0.2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #ffffff;
	background-color: #b41010;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
		inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
	text-align: center;
	position: relative;
}
button.deletebtn:active {
	box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.navbtn {
	position: absolute;
	display: inline-block;
	margin-top: 23px;
}

.navbtn a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.navbtn span {
	margin-left: 30px;
}

.yesfriends {
	width: 50%;
	flex-wrap: wrap;
	text-align: center;
}

.wannabes {
	width: 50%;
	flex-wrap: wrap;
	text-align: center;
}

.yesfriends button {
	width: 20%;
}

.wannabes button {
	width: 20%;
}

h2 {
	width: 50%;
	max-width: 60%;
	margin-left: 27%;
}

.chat {
	width: 90%;
	margin-left: 25%;
}

.chat-container {
	height: 35%;
	width: 50%;
	overflow-y: scroll;
	background-color: white;
}

#imgChat {
	height: 40px;
	width: 40px;
	object-fit: cover;
	float: left;
	padding: 5px;
	padding-right: 15px;
}

.text-to-chat {
	width: 50%;
	height: 50px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.chatMsg {
	display: block;
	height: 70px;
	background: #dadada;
}

.chatMsg:nth-child(even) {
	background: #adadad;
}

.chatText {
	font-size: 0.8rem;
}

.friendsOf {
	flex-grow: 1;
	width: 100%;
}
